@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&family=Press+Start+2P&family=Roboto&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container {
    /* display: flex; */
    /* flex-direction: row; */
}

.sidebar {
    /* background-color: rgb(39, 119, 170); */
    /* width: 15vw; */
    /* height: 100vh; */
}

.sidebar nav {
    /* padding: 40px; */
    display: flex;
    justify-content: space-between;
    padding: 10PX;
}

.naam a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(39, 119, 170);
    font-size: 25px;
    font-family: 'Rubik Distressed', cursive;
}

.naam a:hover {
    font-family: 'Rubik Iso', cursive;
    font-size: 25px;
    color: rgb(39, 119, 170);
}

.sidebar ul {
    list-style: none;
    display: flex;
    width: 50vw;
    justify-content: space-around;
    /* padding: 50px; */
}

.sidebar ul li {
    /* margin: 50px 0; */
}

.sidebar ul li a {
    font-size: 25px;
    text-decoration: none;
    padding: 30px 0;
    color: rgb(39, 119, 170);;
    font-family: 'Rubik Iso', cursive;
    /* font-weight: bold; */
}
.sidebar ul li a:hover{
    
    font-family: 'Rubik Distressed', cursive;
    color: rgb(39, 119, 170);
    font-size: 25px;
   
}

.main {
    /* background-color: yellow; */
    /* width: 85vw; */
    background-color: aliceblue;
}

div.intro {
    /* background-color: rgb(162, 143, 180); */
    width: 70vw;
    height: 78vh;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

div.more-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.intro-img img {
    height: 420px;
    margin: 50px auto;
}

div.hi {
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
}

div.name {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;

}

div.fav {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

div.info {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

.button button {
    margin-top: 10px;
}

button {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(39, 119, 170);
    color: aliceblue;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    color: rgb(39, 119, 170);
    background-color: aliceblue;
    font-weight: bold;
}

/* second-container styling */

div.second-container {
    /* background-color: aquamarine; */
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}
div.lmao-img{
    padding: 90px 0;
}
div.lmao-img img{
    height: 55vh;
}
div.lmao-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.lmao{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}
#lmao-2 span{
    color:#2777aa;
    font-size: 21px;
    font-weight: bolder;
}


/* conatiane-third styling */

div.third-container{
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}
div.courage-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}
div.courage{
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}
div.courage-img{

}
div.courage-img img{
    height: 50vh;
    padding: 70px 0;
}


/* conclusion styling */

hr{
    width: 60vw;
    /* align-items: center; */
    margin: 0 auto;
}

div.conclusion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
div.conclusion-word{
    font-family: 'Source Code Pro', monospace;
}
div#conclusion-5{
    color:#2777aa;
    font-weight: bolder;
    font-size: 20px;
}